<h1>Create New Article</h1>

<div>
  <%= form_with model: @article do |t| %>
    <%= t.label :title %>
    <%= t.text_field :title %>
    <%= t.label :content %>
    <%= t.text_area(:content, cols: 40, rows: 10) %>
    <%= t.submit %>
  <% end %>
</div>


<hr>
<%= link_to "Back to Articles", "/articles" %>
